body, html {
    height: 100%;
    font-family: "Ostrich Sans", sans-serif;
}
/*@font-face {
font-family: "BebasNeue";
src: url("fonts/BebasNeue.ttf") format("truetype");
}*/
.landing-page{ 
    background: url("../photos/ndaclogo.jpg") no-repeat center fixed;
    background-size: cover;
}
#enterButton {
    position: fixed;
    margin: 600px 600px;
}
footer {
    margin: 25px auto 0;
}