body, html {
    height: 100%;
    font-family: "Ostrich Sans", sans-serif;
}
/*@font-face {
font-family: "BebasNeue";
src: url("fonts/BebasNeue.ttf") format("truetype");
}*/
.bg { 
    background: url(ndaclogo.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#enterButton {
    position: fixed;
    bottom: 100px;
    right: 700px;
}
footer {
    margin: 25px auto 0;
}